<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Robot Trai Cây"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Approbotraicay.NoActionBar">

        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegistrationActivity" />
        <activity android:name=".ui.TrangChuActivity" />
        <activity android:name=".ui.GioHangActivity" />
        <activity android:name=".ui.ChiTietSanPhamActivity" />
        <activity android:name=".ui.admin.QuanLySanPhamActivity" />
        <activity android:name=".ui.ThanhToanActivity" />
        <activity android:name=".ui.DonHangActivity" />
        <activity android:name=".ui.ChiTietDonHangActivity" />

    </application>

</manifest>
